.gold {
  color: white;
  background-color: #b3995d;
}

.dark {
  color: white;
  background-color: #03045e;
}

.bright {
  color: white;
  background-color: #023e8a;
}

.very-bright {
  color: white;
  background-color: #0077b6;
}

.border {
  border: 2px solid #023e8a;
  padding: 2em;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.header-box {
  margin: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.header-box h1 {
  margin: 0;
  padding: 0.2em 0;
  text-align: center;
  font-size: clamp(1.75rem, 2.5vw, 2rem);
}

.round-border {
  border-radius: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Open sans', sans-serif;
}

.btn {
  display: inline-block;
  border-bottom: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em 1.25em;
  margin: 0.1em;
  font-size: medium;
  font-weight: bold;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.btn:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

/* pagination position styling */
.pagination {
  position: absolute;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

/* pagination styling */
.pagination a {
  color: black;
  padding: 10px 18px;
  text-decoration: none;
}

/* pagination hover effect on non-active */
.pagination a:hover:not(.active) {
  background-color: #0077B6;
  color: white;
}

/* pagination hover effect on active*/
a:nth-child(5) {
  background-color: #023E8A;
  color: white;
}

a:nth-child(1) {
  font-weight: bold;
}

a:nth-child(7) {
  font-weight: bold;
}

input[type=text],
input[type=password],
input[type=select],
input[type=email],
input[type=date],
input[type=number],
select, textarea {
  font: inherit;
  height: 100%;
  padding: 0.5em 1em;
  border: 1.5px solid #c4c4c4;
  outline: none;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-flex: content;
      -ms-flex: content;
          flex: content;
  background-color: #fdfdfd;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=select]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=number]:focus,
select:focus, textarea:focus {
  border: 1.5px solid #0077b6;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0077b6;
  font-weight: bold;
}

hr {
  margin: 1em 0;
  width: 100%;
  border-top: 0.1px solid #aaa;
}

strong {
  color: red;
  font-weight: normal;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4em;
  padding: 0 5vw;
  background-color: #03045e;
}

header .logo, header .logo-container {
  height: inherit;
  display: inline-block;
}

header .logo {
  padding: 0.25em;
}

header nav, header .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

header nav {
  padding: 0;
  margin: 0;
}

header nav .nav-item {
  padding: 0 1em;
  font-weight: 600;
  font-size: medium;
  color: white;
  text-decoration: none;
}

header nav .nav-item:hover {
  background-color: #caf0f8;
  color: black;
}

header .button-container {
  margin-left: 1em;
}

.error-container {
  border: 1px solid #ff8080;
  border-radius: 5px;
  background-color: #ffc0c0;
  color: #e00000;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 3em;
  margin-bottom: 0.75em;
}

.error-container ul {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.login-container {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25em;
}

.login-container form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-item {
  padding: 0.75em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

.container {
  width: clamp(0px, 95%, 1024px);
  margin: 1rem auto;
}

.container form span {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header-padding {
  padding: 1em 0 0.5em 0;
}

.container table {
  border-collapse: collapse;
}

.container table td, .container table th {
  padding: 5px 7px;
}

.container table td {
  border-bottom: 1px solid #c4c4c4;
}

.container table th {
  border-bottom: 2px solid black;
}
/*# sourceMappingURL=style.css.map */