$palette-very-dark:#111;
$palette-dark:#03045e;
$palette-bright:#023e8a;
$palette-very-bright:#0077b6;
$palette-almost-white: #caf0f8;

.yellow {
  color: black;
  background-color: yellow;
}

.dark {
  color: white;
  background-color: $palette-dark;
}

.bright {
  color: white;
  background-color: $palette-bright;
}

.very-bright {
  color: white;
  background-color: $palette-very-bright;
}

.border {
  border: 2px solid $palette-bright;
  padding: 2em;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.header-box {
  margin: 0;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  h1 {
    margin: 0;
    padding: 0.2em 0;
    text-align: center;
    font-size: clamp(1.75rem, 2.5vw, 2rem);
  }
}

.round-border {
  border-radius: 15px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Open sans', sans-serif;
}


// komponen-komponen
.btn {
  border-bottom: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em 1.25em;
  font-size: medium;
  font-weight: bold;
}

input[type=text], 
input[type=password], 
input[type=select], 
input[type=email], 
input[type=date], 
input[type=number], 
select, textarea {
  font: inherit;
  height: 100%;
  padding: 0.5em 1em;
  border: 1.5px solid rgb(196, 196, 196);
  outline: none;
  border-radius: 5px;
  transition: 0.5s;
  flex: content;
  background-color: #fdfdfd;

  &:focus {
    border: 1.5px solid $palette-very-bright;
  }
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: $palette-very-bright;
  font-weight: bold;
}

hr {
  margin: 1em 0;
  width: 100%;
  border-top: 0.1px solid #aaa;
}

// bagian-bagian laman
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  padding: 0 5vw;
  background-color: $palette-dark;
  
  .logo, .logo-container {
    height: inherit;
    display: inline-block;
  }

  .logo {
    padding: 0.25em;
  }

  nav, .nav-item {
    display: flex;
    align-items: center;
    height: inherit;
  }

  nav {
    padding: 0;
    margin: 0;

    .nav-item {
      padding: 0 1em;
      font-weight: 600;
      font-size: medium;
      color: white;
      text-decoration: none;

      &:hover {
        background-color: #caf0f8;
        color: black;
      }
    }
  }

  #login-button-container {
    margin-left: 1em;

    #login-button {
      font-weight: 600;
      font-size: medium;
      padding: 0.5em 1em;
      background-color: $palette-very-bright;
      color: white;
      
      &:hover {
        box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.login-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25em; 

  form {
    flex-direction: column;
  }
}

.form-item {
  padding: 0.75em 0;
  display: flex;
  flex-direction:inherit;
}

.container {
  width: clamp(0px, 95%, 1024px);
  margin: 1rem auto;

  form {
    span {
      width: 150px;
      display: flex;
      align-items: center;
    }
  }
}