/*
.body-box form {
    margin: 0;
  }
  
  .form-item {
    display: flex;
    padding-bottom: 1rem;
  }
  
  .text-form {
    font-family: inherit;
    font-size: inherit;
  }
  
  .form-item label {
    width: 7rem;
  }
  
  .form-item span {
    margin-right: 1rem;
    margin-left: 0.25rem;
  }
  
  .form-item .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  */
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  main {
    width: clamp(0px, 95%, 1024px);
    margin: 1rem auto 1rem;
    
  }
  
  /* Untuk navigation bar*/
  .topnav {
    overflow: hidden;
    background-color: #03045e;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #caf0f8;
    color: black;
  }
  
  .topnav a.active {
    background-color: #023e8a;
    color: white;
  }

  /* Untuk efek glowing */
.GFG{
  width:60px ;
  height:60px;
  border-radius: 10%;
}
.GFG:hover{
  color: #111; 
  background: #0077b6;
  box-shadow: 0 0 100px white; 
}
